.page-content {
    margin-left: 325px;
    padding: 0 25px;
}

.page-header {
    position: absolute;
    top: 0;
    left: 45%;
}

.account-container {
    display: inline-block;
    border: 2px solid blue;
    background-color: gray;
    color: black;
    border-radius: 10px;
    margin: 50px;
    padding: 8px;
    width: 500px;
    text-align: center;
}

.transactions, .deposits {
    display: inline-block;
    border-radius: 15px;
    border: 2px solid black;
    margin-bottom: 10px;
    text-align: center;
    width: 32%;
}

.new-account-container {
    display: inline;
}

.add-transaction-btn, .add-deposit-btn {
    font-size: 13px;
}

.transaction-input, .deposit-input {
    display: block;
}

.save-btn {
    font-size: 12px;
}

.info {
    display: block;
}